  .wrapper {
    width: 700px;
    margin: 0 auto;
  }


  .reply-container {
    border: 1px solid blue;
    width: 550px;
    margin-left: auto;
    margin-bottom: 32px;
  }

  .comment-container {
    border: 1px solid black;
    width: 630px;
    margin: 0 auto 32px auto;

  }


  .comment-container,
  .reply-container {
    border-radius: 16px;
    padding: 16px 32px;

    .comment,
    .reply {
      display: flex;
      align-items: flex-start;
      gap: 24px;
    }

    .content-container {
      width: 100%;
    }

    .user-info {
      display: flex;
      align-items: center;
      gap: 16px;

      button,
      .button-container {
        margin-left: auto;
      }

      .button-container {
        .edit-btn {
          margin-right: 16px;
        }
      }
    }
  }

  img {
    max-width: 100%;
    height: auto;
    display: block;
    height: 40px;
    width: 40px;
  }