.comment-container,
.comment-form {
  width: 680px;
  margin: 32px auto 32px auto;
  background-color: $white;
}

.reply-container,
.reply-form {
  width: 635px;
  margin-left: auto;
  margin-bottom: 32px;
  background-color: $white;
}


.comment-container,
.reply-container {
  border-radius: 16px;
  padding: 32px;
  background-color: $white;

  .comment,
  .reply {
    display: flex;
    align-items: flex-start;
    gap: 24px;
  }

  .content-container {
    width: 100%;
  }

  .user-info {
    display: flex;
    align-items: center;
    height: 40px;
    gap: 16px;
    margin-bottom: 16px;

    button {
      cursor: pointer;
      margin-left: auto;
    }

    .button-container {
      display: flex;
      margin-left: auto;
      gap: 16px;
    }
  }
}

.vote-container {
  // height: 93px;
  padding: 8px;
  display: flex;
  flex-direction: column;
  // justify-content: space-between;
  align-items: center;
  border: none;
  border-radius: 8px;
  background-color: $lightGray;

  .score {
    color: $moderateBlue;
    font-weight: $bold;
    width: 20px;
    text-align: center;
    margin: 0 auto;
  }

  .upvote-btn,
  .downvote-btn {
    cursor: pointer;
    border: none;
    background: none;
    font-size: 2.3rem;
    color: $lightBlue;
    font-weight: $bold;

  }
}

.content-container {
  .username {
    color: $darkBlue;
    font-weight: $semiBold;
  }

  .reply-btn,
  .edit-btn,
  .delete-btn {
    display: flex;
    align-items: center;
    gap: 8px;
    background: none;
    border: none;
    color: $moderateBlue;
    font-weight: $bold;
    font-size: 1.6rem;

    .reply-icon {
      height: 1.6rem;
      width: 1.6rem;
    }
  }

  .current-user-tag {
    background-color: $moderateBlue;
    color: $white;
    padding: 4px 8px;
    border-radius: 4px;
    font-weight: $semiBold;
  }
}

.submit-btn,
.update-btn {
  border: none;
  background-color: $moderateBlue;
  color: $white;
  font-weight: $bold;
  padding: 8px 16px;
  border-radius: 8px;
}