form {
  padding: 32px;
  display: flex;
  align-items: flex-start;
  margin-bottom: 32px;
  border-radius: 16px;
  gap: 24px;

  textarea {
    margin-left: auto;
    width: 100%;
    font-size: 16px;
    font-family: 'Rubik', sans-serif;
    padding: 16px;
    border-radius: 8px;
    border: 1px solid grey;
  }

}

.edit-form {
  padding: 0;
  margin: 16px 0 0 0;
  flex-direction: column;

  textarea {
    display: block;
    height: 80px;
    width: 93%;

  }

  button {
    margin-left: auto;
  }
}