form {
  border: 1px solid red;
  padding: 32px;
  display: flex;
  align-items: flex-start;
  margin-bottom: 32px;
  border-radius: 16px;
  gap: 24px;


  textarea {
    margin-left: auto;
    width: 600px;
  }
}

.reply-form {
  width: 550px;
  margin-left: auto;
}