$moderateBlue: hsl(238, 40%, 52%);
$softRed: hsl(358, 79%, 66%);
$lightBlue: hsl(239, 57%, 85%);
$paleRed: hsl(357, 100%, 86%);

$darkBlue: hsl(212, 24%, 26%);
$grayishBlue: hsl(211, 10%, 45%);
$regularGray: hsl(223, 19%, 93%);
$lightGray: hsl(228, 33%, 97%);
$white: hsl(0, 0%, 100%);

$regular: 400;
$semiBold: 500;
$bold: 700;